<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="modalForUserSignUp" class="modal fade"
		id="regUserModal" tabindex="-1" role="dialog"
		aria-labelledby="loginModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="regUserModalTitle">Registrarse</h5>

				</div>
				<form id="registrar-form">
					<div class="modal-body">

						<div class="form-group">
							<label for="nombre">Nombre</label> <input type="text"
								class="form-control" id="nombre" placeholder="Nombre">
						</div>
						<div class="form-group">
							<label for="apellido">Apellidos</label> <input type="text"
								class="form-control" id="apellido" placeholder="Apellidos">
						</div>
						<div class="form-group">
							<label for="username">Nombre de usuario</label> <input
								type="text" class="form-control" id="username"
								placeholder="Nombre de usuario">
						</div>
						<div class="form-group">
							<label for="phone">Teléfono</label> <input type="text"
								class="form-control" id="phone" placeholder="Teléfono">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Email</label> <input type="email"
								class="form-control" id="email" aria-describedby="emailHelp"
								placeholder="Enter email"> <small id="emailHelp"
								class="form-text text-muted">No compartiremos esta
								información.</small>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Contraseña</label> <input
								type="password" class="form-control" id="password"
								placeholder="Contraseña">
						</div>
						<fieldset class="form-group">
							<div class="row">
								<legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
								<div class="col-sm-10">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="sex" id="m"
											value="Masculino" checked> <label
											class="form-check-label" for="gridRadios1"> Masculino
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="sex" id="f"
											value="Femenino"> <label class="form-check-label"
											for="gridRadios2"> Femenino </label>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer d-flex flex-row justify-content-end">
						<button type="submit" class="btn btn-generic"
							id="btn-registrar-usr">Continuar</button>
						<button type="button" class="btn btn-generic-secundary"
							id="btn-registrar-usr-cancelar">Cancelar</button>

					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>