html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background-color: #FAFAFA;
	margin: 0;
	padding: 0;
	line-height: 1;
}

/*Header and navbar*/
header {
	background-color: #fff !important;
	transition: height 200ms ease-in;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	height: 44px;
	z-index: 400;
	top: 0;
	width: 100%;
	position: fixed;
}

nav {
	align-items: center !important;
	max-width: 1020px;
	margin: auto;
	height: 44px;
	background-color: #fff !important;
	position: fixed;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar {
	flex-wrap: nowrap !important;
}

a.navbar-brand {
	cursor: pointer;
	margin-left: 16px;
	margin-right: 16px;
}

a:hover {
	filter: brightness(150%);
	color: #FAFAFA;
}

ul {
	float: right;
}

ul li {
	height: 30px;
	text-align: center;
	vertical-align: middle;
	float: left;
	display: flex;
	align-items: center;
	margin-left: 8px;
	margin-right: 8px;
}

nav form {
	display: flex !important;
	flex-direction: row !important;
	border: 1px solid #DBDBDB;
	padding: 2px;
	border-radius: 4px;
	margin-left: 16px !important;
	margin-right: 16px !important;
}

#search-input {
	height: 30px;
	flex-grow: 2;
	border: none;
	color: black;
	background-color: #fff;
}

input[type=search]:focus {
	outline: none !important;
	box-shadow: 0 0 0 2px #fff !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration
	{
	display: none;
}

#search-button {
	height: 30px;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 576px) {
	nav form {
		width: 240px !important;
	}
	nav form.form-inline {
		flex-wrap: unset !important;
	}
}

/*Header and navbar*/

/*Main content*/
.content {
	align-items: center;
	max-width: 922px;
	margin: auto;
	margin-top: 4em;
}

.pub{
	height: 40em !important;
}

.contenedor{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ejemplarItem{
	margin-left: 12px;
	margin-right: 12px;
}

.card-img-top{
	height: 14rem;
}

.btn-cart i{
	color: black;
}

/*Main content*/

/*Buttons*/
.btn-generic{
	background-color: black;
	color: white;
}

.btn-generic:hover{
	filter: brightness(150%);
	background-color:rgba(0,0,0,0.85);
	color: white;
	transition: 250ms ease-in-out 0s;
}

/*Check box*/
.form-check
{
	margin-top: 14px;
	margin-bottom: 14px;
}

.form-check-label{
	margin-top: 2px;
}

/*Navbar*/
li.prof-active{
	display: none;
}

a.prof-name{
	color: black !important;
}

.dropdown-toggle::after {
    color: black;
    margin-left: 8px;
}
a:hover{
	filter: none;
	color: black !important; 
}

.navbar a:active{
	background-color: white !important;
}

/*Login modal*/
.not-account-yet{
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
/*Footer*/
footer{
	display: grid;
	grid-template-columns: 1fr auto;
	max-width: 970px;
	margin: auto;
}
footer a{
	color: black;
}

footer a:hover{
	color: black;
	text-decoration: underline;
}

/*Validators*/
.passive{
	display: none;
}
.validator{
	border-color: red;
}
span.required{
	color: red;
}
span.emailval
{
	color: red;
}
/*Content*/
.carousel-item img.pub{ 
	width: 922px;
	height: 300px !important;
}
