<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar receptor</title>
<!-- Copiar esto en todos los html -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script src="https://kit.fontawesome.com/e1143320de.js"></script>
<link rel="stylesheet" th:href="@{/css/app.css}">
<!-- ----------------------------- -->
</head>
<body>

	<header>
		<div th:replace="fragments/navbarHome :: navbarHome(${user})"></div>
	</header>

	<div class="content">
		<!--Google map-->
		<div id="map-container-google-1" class="z-depth-1-half map-container"
			style="height: 500px">
			<iframe
				src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
				frameborder="0" style="border: 0" allowfullscreen></iframe>
		</div>
		<!--Google Maps-->
		
		<h2 class="mt-4 mb-4">¿Quién recogerá el pedido?</h2>
		
		<form th:action="@{/addReceptor}" th:object="${receptor}"
			method="post">
			<div class="col-sm-6" style="margin-bottom: 10px">
				<label for="apellido">Apellidos</label> <input type="text"
					th:field="*{apellido}" class="form-control">
			</div>
			<div class="col-sm-6" style="margin-bottom: 10px">
				<label for="nombre">Nombre(s)</label> <input type="text"
					th:field="*{nombre}" class="form-control">
			</div>
			<div class="col-sm-6" style="margin-bottom: 10px">
				<label for="dni">Dni</label> <input type="text"
					th:field="*{dni}" class="form-control">
			</div>

			<div class="col-sm-6" style="margin-bottom: 10px">
				<label for="usuario">Telefono contacto</label> <input type="text"
					th:field="*{telefono}" class="form-control">
			</div>
		

			<div class="col-sm-6" style="margin-top: 10px">
				<button class="btn-pro" type="submit"
					name="Nuevo">Finalizar</button>
			</div>
		</form>

	</div>

	<!-- Footer -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<!-- Footer -->

	<!-- Copiar esto en todos los html -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!-- ----------------------------- -->
</body>
</html>