<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Venta realizada</title>
<!-- Copiar esto en todos los html -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script src="https://kit.fontawesome.com/e1143320de.js"></script>
<link rel="stylesheet" th:href="@{/css/app.css}">
<!-- ----------------------------- -->
</head>
<body>
	<header>
		<div th:replace="fragments/navbarHome :: navbarHome(${user})"></div>
	</header>

	<div class="content">
		<div class="card in-success" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Venta detalle</h5>
				<table class="table table-striped table bordered table-hover">
						<thead>
							<tr>
								<th scope="col">Titulo</th>
								<th scope="col">Precio</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ejemplar: ${carrito}">

								<td th:text="${ejemplar.libro.titulo}"></td>

								<td th:text="${ejemplar.libro.precio}"></td>

							</tr>
						</tbody>
					</table>
					<p>Subtotal <strong th:text="${cp.subtotal}"></strong></p>
				<div class="cardfooter">
					<a href="/" class="btn-pro">Finalizar</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<!-- Footer -->

	<!-- Copiar esto en todos los html -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!-- ----------------------------- -->
</body>
</html>